<div class="meeting-room" ng-class="{'busy': room.busy}">
    <div class="room-head">
        <div class="name">
            <div class="title">{{room.name}}</div>
            <div class="no">{{room.no}}</div>
        </div>
        <div class="status"></div>
    </div>
    <div class="room-body">
        <!--<div class="busy" ng-if="!room.busy">未被预订</div>-->
        <div class="busy used" ng-if="room.busy">已被预订！</div>
        <ul class="booking hide">
            <li ng-repeat="info in room.bookInfoList">{{info.start}}-{{info.end}}</li>
            <li>15:00-16:00</li>
            <li>15:00-16:00</li>
            <li>15:00-16:00</li>
            <li>15:00-16:00</li>
            <li>15:00-16:00</li>
        </ul>
        <ul class="status">
            <li ng-repeat="(key, value) in room.things.EnvironmentSensor[0].status" ng-if="hasSchema(key)" ng-class="{warn:hasWarn(key)}">
                {{getName(key)}}: {{value}}
            </li>
        </ul>
        <div class="condition">
            <ul>
                <li ng-repeat="c in room.conditions">
                    <div>【{{c.name}}】<span>{{c.express}}{{c.condition}}</span></div>
                    <div>{{c.desc}}</div>
                </li>
                <!--<li>
                    <div>【温度】<span><18</span></div>
                    <div>空调开启制热模式</div>
                </li>-->
            </ul>
        </div>
    </div>
    <div class="room-foot">
        <div class="icon-wrap">
            <div class="icon icon-room light" ng-class="{'off': !room.light}"></div>
            <div class="vl"></div>
            <div class="icon icon-room air" ng-class="{'off': !room.air}"></div>
            <div class="vl"></div>
            <div class="icon icon-room person" ng-class="{'off': !room.person}"></div>
        </div>
    </div>
</div>