@import 'src/app/components/AppShared/scss/global.scss';
.meeting-room {
    position: relative;
    width: 232px;
    // height: 680px;
    border-radius: 8px;
    box-shadow: 0 10px 10px rgba(12, 4, 7, .29);
    overflow: hidden;
    &.sm {
        margin-bottom: 16px;
        .room-body {
            height: 129px;
        }
    }
    &.busy {
        .room-head {
            background-color: #2aabe2;
        }
        .status {
            background-position: 0 -49px;
        }
    }
    &.full {
        .room-body {
            background-color: #eee;
        }
        .room-foot {
            background-color: #eee;
        }
    }
    .room-head {
        padding: 25px 15px 0 10px;
        width: 100%;
        height: 120px;
        background-color: #ff6600;
        .name {
            float: left;
            .title {
                font-size: 38px;
                line-height: 38px;
            }
            .no {
                margin-top: 9px;
                margin-left: 3px;
                font-size: 30px;
                line-height: 30px
            }
        }
        .status {
            position: absolute;
            top: 48px;
            right: 15px;
            // float:right;
            width: 51px;
            height: 49px;
            @include bg-image("icon_meeting.png");
        }
    }
    .room-body {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 400px;
        .busy {
            padding: 3px 0;
            color: #ff6600;
            font-size: 26px;
            line-height: 26px;
            text-align: center;
            &.used {
                background-color: #fff0e5;
            }
        }
        ul.booking {
            padding-top: 15px;
            padding-left: 23px;
            list-style-type: none;
            li {
                margin: 6px 0;
                width: 190px;
                height: 30px;
                font-size: 30px;
                line-height: 40px;
                color: #666;
                &::before {
                    content: ' ';
                    display: inline-block;
                    margin-right: 8px;
                    height: 19px;
                    width: 19px;
                    // line-height:30px;
                    @include bg-image("icon_clock_orange.png");
                }
                // &::after {
                //     content: '已订';
                //     float: right;
                //     color: #ff6600;
                //     text-align: right;
                // }
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
        ul.status {
            padding-top: 15px;
            padding-left: 15px;
            list-style-type: none;
            li {
                line-height: 25px;
                font-size: 23px;
                color: #666;
                &::before {
                    float: left;
                    content: ' \25CF';
                    color: #2aabe2;
                    font-size: 14px;
                    margin-right: 10px;
                }
                &.warn {
                    color: #ff6600;
                    &::before {
                        color: #ff6600;
                    }
                }
            }
        }
        ul.condition {
            position: absolute;
            bottom: 0;
            padding-top: 10px;
            padding-left: 10px;
            width: 100%;
            font-size: 25px;
            color: #000;
            background-color: #fff;
            list-style-type: none;
            li {
                line-height: 34px;
                &::before {
                    float: left;
                    content: ' \25CF';
                    margin-right: -5px;
                    color: #2aabe2;
                    font-size: 14px;
                }
            }
            div {
                color: #2e2e2e;
            }
            .state span {
                color: #ff6600;
            }
            .desc span {
                background-color: #ddfad9;
            }
        }
    }
    .room-foot {
        height: 110px;
        padding-bottom: 18px;
        .icon-wrap {
            display: flex;
            justify-content: center;
            align-items: flex-end;
            margin-left: auto;
            margin-right: auto;
            width: 100%;
            height: 100%;
        }
        .icon {
            display: inline-flex;
        }
        .vl {
            display: inline-flex;
            width: 1px;
            height: 40px;
            margin-left: 5px;
            margin-right: 5px;
            // margin-bottom: 10px;
            background-color: #c8c7c0;
        }
    }
}