@import 'src/app/components/AppShared/scss/global.scss';
.meeting-room {
    position: relative;
    width: 232px;
    // height: 680px;
    border-radius: 8px;
    box-shadow: 0 10px 10px rgba(12, 4, 7, .29);
    overflow: hidden;
    &.sm {
        margin-bottom: 16px;
        .room-body {
            height: 129px;
        }
    }
    &.busy {
        .room-head {
            background-color: #2aabe2;
        }
        .status {
            background-position: 0 -84px;
        }
    }
    &.full {
        .room-body {
            background-color: #eee;
        }
        .room-foot {
            background-color: #eee;
        }
    }
    .room-head {
        padding: 25px 10px 0 10px;
        width: 100%;
        height: 140px;
        background-color: #ff6600;
        .name {
            float: left;
            .title {
                font-size: 38px;
                line-height: 38px;
            }
            .no {
                margin-top: 9px;
                margin-left: 3px;
                font-size: 23px;
                line-height: 23px
            }
            .used {
                margin-top: 12px;
                font-size: 20px;
                line-height: 20px;
            }
        }
        .status {
            position: absolute;
            top: 18px;
            right: 10px;
            width: 87px;
            height: 84px;
            @include bg-image("icon_meeting.png");
        }
    }
    .room-body {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 420px;
        ul {
            padding-left: 23px;
            padding-top: 25px;
            list-style-type: none;
            li {
                margin-bottom: 25px;
                width: 190px;
                height: 20px;
                font-size: 20px;
                line-height: 20px;
                color: #666;
                &::before {
                    content: ' ';
                    float: left;
                    margin-right: 8px;
                    height: 19px;
                    width: 19px;
                    @include bg-image("icon_clock_orange.png");
                }
                &::after {
                    content: '已订';
                    float: right;
                    color: #ff6600;
                    text-align: right;
                }
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
    .room-foot {
        height: 100px;
        padding-bottom: 23px;
        .icon-wrap {
            margin-left: auto;
            margin-right: auto;
            width: 100%;
            height: 100%;
        }
        .icon {
            display: inline-block;
        }
        .vl {
            display: inline-block;
            width: 1px;
            height: 40px;
            margin-left: 2px;
            margin-right: 3px;
            // margin-bottom: 10px;
            background-color: #c8c7c0;
        }
    }
}