@import 'src/app/components/AppShared/scss/global.scss';
.room {
    float: left;
    position: relative;
    width: 190px;
    height: 240px;
    background-color: #e6f8ff;
    margin-left: 10px;
    box-shadow: -6px 6px 5px -2px rgba(65, 130, 194, .75);
    &.sm {
        width: 178px;
        height: 213px;
        margin-left: 5px;
        &:first-child {
            margin-left: 403px;
            margin-right: 216px;
        }
        .name {
            left: 62px;
        }
        .person {
            left: 101px;
        }
    }
    &.rest {
        .name {
            color: #ff6600;
        }
    }
    .name {
        position: absolute;
        bottom: 25px;
        left: 68px;
        font-size: 18px;
        color: #29abe2;
    }
    .icon {
        i {
            display: block;
            @include bg-image("icon_officespace.png");
        }
    }
    .light {
        position: absolute;
        top: 25px;
        left: 29px;
        padding-bottom: 20px;
        border-bottom: 1px solid #868686;
        i {
            background-position: -49px 0;
            width: 39px;
            height: 40px;
            &.off {
                background-position: -49px -40px;
            }
        }
    }
    .air {
        position: absolute;
        top: 100px;
        left: 25px;
        i {
            width: 49px;
            height: 26px;
            &.off {
                background-position: 0 -26px;
            }
        }
    }
    .person {
        position: absolute;
        top: 61px;
        left: 107px;
        padding: 4px 0 4px 30px;
        border-left: 1px solid #868686;
        i {
            background-position: -88px 0;
            width: 14px;
            height: 36px;
            &.off {
                background-position: -88px -36px;
            }
        }
    }
}