.app-secure {
    .next {
        position: relative;
        height: 150px;
        line-height: 150px;
        text-align: center;
        * {
            font-size: 90px;
            cursor: pointer;
            color: #fff !important;
            text-decoration: none !important;
        }
    }
    .content {
        background-color: #fff;
        border: 0;
        position: relative;
        box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15);
        width: 1840px;
        height: 900px;
        border-radius: 20px;
    }
}