<div class="app-portal-parkingarea container">
    <div class="row">
        <div class="fa fa-clock-o title" aria-hidden="true"></div>
        <div class="hint">
            <div class="title">离开停车场 - 驶出停车场</div>
            <div class="remark">每月平均 <span>12分钟</span></div>
            <div class="progress">
                <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
                    <span class="sr-only">45% Complete</span>
                </div>
            </div>
        </div>
        <div class="desc">
            <div><i class="fa fa-exclamation-circle" aria-hidden="true"></i> 记得为下次约会预留时间</div>
        </div>
    </div>
    <div class="row">
        <!--进入高峰-->
        <!--驶出高峰-->
        <div class="fa fa-clock-o title" aria-hidden="true"></div>
        <div class="hint">
            <div class="title">进出高峰时段</div>
        </div>
        <div class="desc">
            <div><i class="fa fa-exclamation-circle" aria-hidden="true"></i> 提示您避开车多拥挤时段</div>
        </div>
    </div>
    <div class="row"></div>
</div>