<div class="app-portal-parkingarea" ng-init="init()">
    <div class="row">
        <img src="images/icon_clock.png" height="36" width="36" alt="">
        <div class="hint">
            <div class="title">离开车位 - 驶出停车场</div>
        </div>
        <div class="desc">
            <div><i class="fa fa-exclamation-circle" aria-hidden="true"></i> 记得为下次约会预留时间</div>
        </div>
    </div>
    <div class="row">
        <div class="remark">每月平均 / <span>{{leaveTime}}分钟</span></div>
    </div>
    <div class="row">
        <img src="images/icon_clock.png" height="36" width="36" alt="">
        <div class="hint">
            <div class="title">进出高峰时段</div>
        </div>
        <div class="desc">
            <div><i class="fa fa-exclamation-circle" aria-hidden="true"></i> 提示您避开车多拥挤时段</div>
        </div>
    </div>
    <div class="row">
        <div id="parking-chart"></div>
    </div>
</div>