.app-portal-meetingroom {
    .column-wrap {
        margin: 0 18px;
    }
    .column {
        float: left;
        margin-right: 22px;
        &:last-child {
            // margin-left: 70px;
            margin-right: 0;
        }
    }
    img {
        margin-top: 65px;
        margin-left: 18px;
    }
}