@import 'src/app/components/AppShared/scss/global.scss';
.room {
    float: left;
    position: relative;
    width: 190px;
    height: 240px;
    background-color: #e6f8ff;
    color: #666;
    margin-left: 10px;
    box-shadow: -6px 6px 5px -2px rgba(65, 130, 194, .45);
    &.sm {
        width: 175px;
        height: 213px;
        margin-left: 5px;
        .name {
            left: 62px;
        }
        .person {
            left: 101px;
        }
    }
    &.rest {
        background-color: #faece4;
        box-shadow: -6px 6px 5px -2px rgba(255, 102, 0, .45);
        .name {
            color: #ff6600;
        }
    }
    .name {
        position: absolute;
        bottom: 25px;
        left: 68px;
        font-size: 18px;
        color: #29abe2;
    }
    .light-wrap {
        position: absolute;
        top: 35px;
        left: 29px;
    }
    .air-wrap {
        position: absolute;
        top: 100px;
        left: 25px;
        padding-top: 20px;
        border-top: 1px solid #868686;
    }
    .person-wrap {
        position: absolute;
        top: 61px;
        left: 107px;
        padding: 4px 0 4px 30px;
        border-left: 1px solid #868686;
    }
    span {
        display: none;
        margin-top: 5px;
        font-size: 13px;
        color: #f53134;
        text-align: center;
    }
}