<div class="app-portal-personnel">
  <div class="row">
    <div class="col-md-4 col-lg-4 enter">进入办公区...</div>
    <div class="col-md-4 col-lg-4 latest">昨日最晚离开</div>
    <div class="col-md-4 col-lg-4 recent">最近访客</div>
  </div>
  <div class="row">
    <div class="col-md-4 col-lg-4 column enter">进入办公区...</div>
    <div class="col-md-4 col-lg-4 column latest">昨日最晚离开</div>
    <div class="col-md-4 col-lg-4 column recent">最近访客</div>
  </div>
  <div class="row">
    <div id="personnel-chart"></div>
  </div>
</div>