<div class="app-portal-personnel">
  <div class="personnel-row">
    <div class="personnel-area yesterday-enter">
      <div>昨日({{yesterday}})最早进入</div>
      <div class="personnel" ng-if="yesterdayEnter">
        <img ng-src="{{yesterdayEnter.photo}}" width="174" height="174" alt="" a>
        <div>{{yesterdayEnter.name}}</div>
      </div>
    </div>
    <div class="personnel-area today-enter">
      <div>今日({{today}})最早进入</div>
      <div class="personnel" ng-if="todayEnter">
        <img ng-src="{{todayEnter.photo}}" width="174" height="174" alt="" a>
        <div>{{todayEnter.name}}</div>
      </div>
    </div>
    <div class="personnel-area yesterday-leave">
      <div>昨日({{yesterday}})最晚离开</div>
      <div class="personnel" ng-if="yesterdayLeave">
        <img ng-src="{{yesterdayLeave.photo}}" width="174" height="174" alt="" a>
        <div>{{yesterdayLeave.name}}<br><span class="time">{{yesterdayLeave.time | date:'HH:mm'}}</span></div>
      </div>
    </div>
    <div class="peak-area">
      <div class="title">高峰时段(今日)</div>
      <div class="peak in">
        <div class="sub">进入高峰</div>
        <div class="time">{{max.in | date:'HH:mm'}}</div>
      </div>
      <div class="peak out">
        <div class="sub">出去高峰</div>
        <div class="time">{{max.out | date:'HH:mm'}}</div>
      </div>
    </div>
  </div>
  <div class="row chart-row">
    <div id="personnel-chart"></div>
  </div>
</div>