@import 'src/app/components/AppShared/scss/global.scss';
.app-portal-personnel {
    padding: 0 40px;
    font-size: 32px;
    line-height: 32px;
    .personnel-row {
        display: -webkit-flex;
        display: flex;
        margin-top: 24px;
        padding-left: 60px;
    }
    .personnel-area {
        padding-left: 12px;
        width: 400px;
        border-right: 1px solid #7197bb;
        font-size: 30px;
        img {
            border: 3px solid #ff6600;
            border-width: 3px;
            border-style: solid;
            @include border-radius(10px);
        }
        .personnel {
            display: -webkit-flex;
            display: flex;
            margin-top: 20px;
            font-size: 45px;
            div {
                align-self: center;
                margin-left: 18px;
            }
        }
        &.yesterday-enter {
            color: #ff6600;
            img {
                border-color: #ff6600;
            }
        }
        &.today-enter {
            color: #2bce10;
            img {
                border-color: #2bce10;
            }
        }
        &.yesterday-leave {
            color: #2292c9;
            img {
                border-color: #2292c9;
            }
            .time {
                font-size: 32px;
            }
        }
    }
    .peak-area {
        padding-left: 26px;
        .title {
            color: #666;
        }
        .peak {
            display: -webkit-flex;
            display: flex;
            font-size: 50px;
            height: 80px;
            line-height: 80px;
            margin-top: 27px;
            &.in {
                .sub {
                    background-color: #ff6600;
                }
                .time {
                    color: #ff6600;
                }
            }
            &.out {
                .sub {
                    background-color: #2bce10;
                }
                .time {
                    color: #2bce10;
                }
            }
            .sub {
                width: 226px;
                text-align: center;
            }
            .time{
                margin-left: 15px;
            }
        }
    }
    #personnel-chart {
        margin-top: 50px;
        margin-left: -10px;
        width: 1800px;
        height: 500px;
    }
}