.icon {
    @include bg-image("icon_officespace.png");
    &.air {
        width: 51px;
        height: 28px;
        margin-bottom: 2px;
        &.off {
            background-position: 0 -28px;
        }
    }
    &.light {
        background-position: -51px 0;
        width: 41px;
        height: 40px;
        &.off {
            background-position: -51px -40px;
        }
    }
    &.person {
        background-position: -92px 0;
        width: 16px;
        height: 36px;
        &.off {
            background-position: -92px -36px;
        }
    }
}