.icon {
    &.icon-room {
        @include bg-image("icon_sensor_status.png");
        &.air {
            width: 70px;
            height: 41px;
            margin-bottom: 2px;
            &.off {
                background-position: -70px 0;
            }
            &.broken {
                background-position: -140px 0;
            }
        }
        &.light {
            background-position: 0 -41px;
            width: 75px;
            height: 78px;
            &.off {
                background-position: -75px -41px;
            }
            &.broken {
                background-position: -150px -41px;
            }
        }
        &.person {
            background-position: 0 -119px;
            width: 36px;
            height: 86px;
            &.off {
                background-position: -36px -119px;
            }
            &.broken {
                background-position: -72px -119px;
            }
        }
    }
}