<div class="app-portal-environment">
    <div class="pull-left">
        <div class="wrap title-wrap">用电量</div>
        <div class="wrap electricity-wrap">
            <div class="pull-left">
                <span class="helper"></span>
                <img src="images/icon_electricity.png" height="216" width="405" alt="">
            </div>
            <div class="pull-left bar-wrap">
                <div class="bar">
                    <span class="desc">照明+空调</span> <span class="value">120 W</span>
                    <div class="progress">
                        <div class="progress-bar light" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%"></div>
                    </div>
                </div>
                <div class="bar">
                    <span class="desc">插座</span> <span class="value">588 W</span>
                    <div class="progress">
                        <div class="progress-bar socket" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="wrap population-wrap">
            <div class="pull-left population">
                <div class="title">办公室人员</div>
                <div class="people">
                    <div class="text">员工 /100</div>
                    <div class="people-bar">a</div>
                </div>
                <div class="people">
                    <div class="text">访客 /40</div>
                    <div class="people-bar">b</div>
                </div>
            </div>
            <div class="pull-left">空间利用率</div>
        </div>
    </div>
    <div class="pull-right air-wrap">
        办公室空气质量 温度 舒适/24℃ CO2含量 优/10% PM2.5 优/31 智能模式已启动，为您自动调适最舒适环境
    </div>
</div>