@import 'src/app/components/AppShared/scss/global.scss';
.app-portal-environment {
    padding: 0 18px;
    height: 800px;
    color: #333;
    > .pull-left {
        width: 1072px;
    }
    .wrap {
        padding-left: 112px;
    }
    .title-wrap {
        height: 111px;
        line-height: 111px;
        font-size: 35px;
    }
    .electricity-wrap {
        height: 296px;
        border-top: 1px dashed #999;
        border-bottom: 1px dashed #999;
        .pull-left {
            height: 100%;
            font-size: 21px;
        }
        .helper {
            display: inline-block;
            height: 100%;
            vertical-align: middle;
        }
        img {
            vertical-align: middle;
        }
        .bar-wrap {
            padding-top: 64px;
            padding-left: 114px;
            .bar {
                &:last-child {
                    margin-top: 50px;
                }
                .desc {
                    display: inline-block;
                    width: 162px;
                }
                .value {
                    font-size: 27px;
                }
                .progress {
                    margin-top: 15px;
                    width: 400px;
                }
            }
        }
    }
    .population-wrap {
        height: 391px;
        .pull-left {
            height: 100%;
        }
        .population {
            font-size: 20px;
        }
        .title {
            line-height: 35px;
            font-size: 35px;
            padding-top: 78px;
        }
        .people {
            position: relative;
            margin-top: 10px;
            max-width: 450px;
            height: 100px;
            vertical-align: bottom;
            .text {
                position: absolute;
                bottom: 0;
            }
        }
        .people-bar {
            position: relative;
            margin-left: 140px;
            height: 100%;
        }
    }
    .air-wrap {
        width: 650px;
        height: 100%;
        border-left: 1px dashed #999;
    }
    .progress {
        @include border-radius(8px);
        .light {
            background-color: #f60;
            background-image: -webkit-linear-gradient(left, #f60, #cf0, #00d8ff);
            background-image: -moz-linear-gradient(left, #f60, #cf0, #00d8ff);
            background-image: -o-linear-gradient(left, #f60, #cf0, #00d8ff);
            background-image: -ms-linear-gradient(left, #f60, #cf0, #00d8ff);
            background-image: linear-gradient(to right, #f60, #cf0, #00d8ff);
        }
        .socket {
            background-color: #48d4dd;
        }
    }
}