<div class="app-portal-environment" ng-init="init()">
    <div class="pull-left">
        <div class="wrap title-wrap">用电量</div>
        <div class="wrap electricity-wrap">
            <div class="pull-left">
                <span class="helper"></span>
                <img src="images/icon_electricity.png" height="216" width="405" alt="">
            </div>
            <div class="pull-left bar-wrap">
                <!--<div class="bar">
                    <span class="desc">照明+空调</span> <span class="value">{{electricity.airLighting | number:0}} KW</span>
                    <div class="progress">
                        <div class="progress-bar light" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%"></div>
                    </div>
                </div>
                <div class="bar">
                    <span class="desc">插座</span> <span class="value">{{electricity.socket | number:0}} KW</span>
                    <div class="progress">
                        <div class="progress-bar socket" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%"></div>
                    </div>
                </div>-->
                <div id="electricity-chart"></div>
            </div>
        </div>
        <div class="wrap population-wrap">
            <div class="pull-left population">
                <div class="title">办公室人员</div>
                <div class="people">
                    <div class="text">员工 /{{population.beehive}}</div>
                    <div class="people-bar">
                        <div class="people-container">
                            <img src="images/icon_person.png" width="23" height="57" alt="" ng-repeat="p in [] | range:0:population.beehive_display">
                        </div>
                    </div>
                </div>
                <div class="people">
                    <div class="text">访客 /{{population.guest}}</div>
                    <div class="people-bar">
                        <div class="people-container">
                            <img src="images/icon_person.png" width="23" height="57" alt="" ng-repeat="p in [] | range:0:population.guest_display">
                        </div>
                    </div>
                </div>
            </div>
            <div class="pull-left usage">
                <div class="tip pull-left">空间利用率 / {{usage | percent}}</div>
                <div id="population-chart" class="pull-left"></div>
            </div>
        </div>
    </div>
    <div class=" pull-right air-wrap">
        <div class="title">办公室空气质量</div>
        <div class="type temp">
            <div class="text">温度 {{status.temp | tempLevel}} {{status.temp | celsius}}</div>
            <!--- [溫度] -5 ~ 45 -->
            <uib-progressbar max="50" value="status.temp|bar:5"></uib-progressbar>
        </div>
        <div class="type co2">
            <div class="text">CO2含量 {{status.co2 | co2Level}} {{status.co2 || ''}}</div>
            <!-- [CO2] 350 - 1000 -->
            <uib-progressbar max="650" value="status.co2|bar:-350"></uib-progressbar>
        </div>
        <div class="type pm25">
            <div class="text">PM2.5 {{status.pm25 | pm25Level}} {{status.pm25 || ''}}</div>
            <!-- [PM2.5] 0-70 -->
            <uib-progressbar max="250" value="status.pm25|bar"></uib-progressbar>
        </div>
        <div class="foot"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> 智能模式已启动，为您自动调适最舒适环境</div>
    </div>
</div>