@import 'src/app/components/AppShared/scss/global.scss';
.app-portal-environment {
    padding: 0 18px;
    height: 800px;
    color: #333;
    .title {
        height: 40px;
        line-height: 40px;
        font-size: 40px;
    }
    >.pull-left {
        width: 1072px;
    }
    .wrap {
        padding-left: 112px;
    }
    .electricity-wrap {
        // border-top: 1px dashed #999;
        padding-top: 40px;
        border-bottom: 1px dashed #999;
        .electricity {
            margin: 0 auto;
            width: 510px;
            height: 370px;
        }
    }
    .population-wrap {
        height: 391px;
        .pull-left {
            height: 100%;
        }
        .population {
            width: 450px;
            font-size: 24px;
        }
        .title {
            padding-top: 48px;
            margin-bottom: 40px;
        }
        .people {
            position: relative;
            margin-top: 10px;
            max-width: 450px;
            height: 100px;
            vertical-align: bottom;
            .text {
                position: absolute;
                bottom: 0;
            }
        }
        .people-bar {
            margin-left: 140px;
            height: 100%;
            .number {
                position: absolute;
                top: 0;
                right: -26px;
                width: 38px;
                height: 37px;
                text-align: center;
                padding-top: 11px;
                @include bg-image("icon_bluetip.png");
                &.gray {
                    top: 5px;
                    right: -16px;
                    width: 27px;
                    height: 28px;
                    padding-top: 4px;
                    @include bg-image("icon_graytip.png");
                }
            }
            .people-container {
                position: relative;
                height: 100px;
                vertical-align: bottom;
                display: table-cell;
            }
        }
        .usage {
            padding-top: 55px;
            padding-left: 20px;
            .tip {
                width: 246px;
                height: 39px;
                font-size: 24px;
                line-height: 20px;
                background-repeat: no-repeat;
                background-position: 120px 3px;
                margin-top: 170px;
                margin-right: -60px;
                @include bg-image("icon_tip.png");
            }
        }
    }
    .air-wrap {
        position: relative;
        width: 650px;
        height: 100%;
        border-left: 1px dashed #999;
        padding-left: 78px;
        padding-top: 40px;
        hr {
            width: 100%;
            border-top: 1px dashed #999;
        }
        .title {
            height: 130px;
            font-size: 35px;
        }
        .type {
            height: 73px;
            line-height: 73px;
            font-size: 30px;
            margin-top: 40px;
            margin-bottom: 40px;
            &::before {
                content: ' ';
                float: left;
                width: 75px;
                height: 73px;
                margin-right: 17px;
                @include bg-image("icon_type.png");
            }
            &.temp {
                .progress-bar {
                    background-color: #2aabe2;
                }
            }
            &.co2 {
                &::before {
                    background-position: -75px 0;
                }
                .progress-bar {
                    background-color: #ff6600;
                }
            }
            &.pm25 {
                &::before {
                    background-position: -150px 0;
                }
                .progress-bar {
                    background-color: #2bce10;
                }
            }
            .text {
                width: 160px;
            }
            .value {
                .good {
                    color: #2bce10;
                }
                .normal {
                    color: #2aabe2;
                }
                .bad {
                    color: #ff6600;
                }
            }
            .progress {
                margin-top: 10px;
                width: 467px;
            }
            .smiley-face {
                margin-right: 20px;
            }
        }
        .foot {
            position: absolute;
            bottom: 22px;
            font-size: 18px;
            color: #999;
            .fa {
                color: #2aabe2;
            }
        }
    }
    .progress {
        .light {
            background-color: #f60;
            background-image: -webkit-linear-gradient(left, #f60, #cf0, #00d8ff);
            background-image: -moz-linear-gradient(left, #f60, #cf0, #00d8ff);
            background-image: -o-linear-gradient(left, #f60, #cf0, #00d8ff);
            background-image: -ms-linear-gradient(left, #f60, #cf0, #00d8ff);
            background-image: linear-gradient(to right, #f60, #cf0, #00d8ff);
        }
        .socket {
            background-color: #48d4dd;
        }
    }
    #electricity-chart {
        margin-top: -55px;
        margin-left: -200px;
        width: 1000px;
        height: 400px;
    }
    #population-chart {
        margin-top: -40px;
        width: 280px;
        height: 280px;
    }
}