<main class="app-portal">

    <div class="header-bar">
        <div class="title">{{current.getName()}}</div>
        <div class="menu" uib-dropdown is-open="isOpen" auto-close="outsideClick">
            <div uib-dropdown-toggle></div>
            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                <li class="menuitem" ng-repeat="nav in portalNavs" ng-class="{'active':nav.isActive}">
                    <a ng-click="changeNav(nav)"><i class="fa fa-fw" ng-class="nav.icon"></i> {{nav.name}}</a>
                </li>

                <!--vip pic-->
                <li class="divider" ng-if="Geofence.isNear"></li>
                <li class="menuitem" ng-if="Geofence.isNear">
                    <a ui-sref="app.Portal.VIP({name:Geofence.vip.name, id:1})" ng-disabled="picId===1" ng-click="Geofence.rotative=!1"><i class="fa fa-fw" ng-class="{'fa-check':picId===1}"></i> 圖片1</a>
                </li>
                <li class="menuitem" ng-if="Geofence.isNear">
                    <a ui-sref="app.Portal.VIP({name:Geofence.vip.name, id:2})" ng-disabled="picId===2" ng-click="Geofence.rotative=!1"><i class="fa fa-fw" ng-class="{'fa-check':picId===2}"></i> 圖片2</a>
                </li>
                <li class="menuitem" ng-if="Geofence.isNear">
                    <a ui-sref="app.Portal.VIP({name:Geofence.vip.name, id:3})" ng-disabled="picId===3" ng-click="Geofence.rotative=!1"><i class="fa fa-fw" ng-class="{'fa-check':picId===3}"></i> 圖片3</a>
                </li>
                <!--END vip pic-->

                <li class="divider"></li>
                <li role="menuitem" class="input">
                    <span>轮播:</span>
                    <switchery ng-model="Geofence.rotative"></switchery>
                </li>
                <li role="menuitem" class="input">
                    <span>位置:</span>
                    <!--<input type="text" class="form-control pull-right" placeholder="位置">-->
                    <select class="form-control pull-right" ng-options="s.location for s in Geofence.scopes track by s.location" ng-model="Geofence.current">
                        <option value="">无</option>
                    </select>
                </li>
            </ul>
        </div>
        <div class="time">{{time | date:'EEE MMM d H:mm'}}</div>
    </div>

    <div class="al-main">
        <div class="al-content">
            <div ui-view class="container-fluid portal-content-body" ng-class="{'vip':isVIP}"></div>
        </div>
    </div>
</main>