@import 'src/app/components/AppShared/scss/global.scss';
.pokeball {
    color: #fff;
    position: fixed;
    box-sizing: border-box;
    left: -9999px;
    top: -9999px;
    width: 0;
    height: 0;
    overflow: hidden;
    z-index: 999999
}

.pokeball:after,
.pokeball:before {
    box-sizing: border-box;
    display: none
}

.pokeball.is-active {
    background-color: rgba(0, 0, 0, 0.85);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0
}

.pokeball.is-active:after,
.pokeball.is-active:before {
    display: block
}

.pokeball-pokeball:before {
    content: '';
    position: absolute;
    width: 100px;
    height: 100px;
    top: 50%;
    left: 50%;
    margin: -50px 0 0 -50px;
    background: linear-gradient(to bottom, red 42%, #000 42%, #000 58%, #fff 58%);
    background-repeat: no-repeat;
    background-color: #fff;
    border-radius: 50%;
    z-index: 1;
    animation: movePokeball 1s linear infinite both
}

.pokeball-pokeball:after {
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    top: 50%;
    left: 50%;
    margin: -12px 0 0 -12px;
    background-color: #fff;
    border-radius: 50%;
    z-index: 2;
    animation: movePokeball 1s linear infinite both, flashPokeball .5s infinite alternate;
    border: solid 2px #000;
    box-shadow: 0 0 0 5px #fff, 0 0 0 10px #000
}

@keyframes movePokeball {
    0% {
        transform: translateX(0) rotate(0)
    }
    15% {
        transform: translatex(-10px) rotate(-5deg)
    }
    30% {
        transform: translateX(10px) rotate(5deg)
    }
    45% {
        transform: translatex(0) rotate(0)
    }
}

@keyframes flashPokeball {
    0% {
        background-color: #fff
    }
    100% {
        background-color: #fd0
    }
}

.app-portal {
    .header-bar {
        padding-top: 30px;
        position: relative;
        height: 80px;
        line-height: 39px;
        .title {
            float: left;
            margin-left: 40px;
            font-size: 45px;
        }
        .time {
            float: right;
            margin-right: 109px;
            font-size: 35px;
        }
        .menu {
            cursor: pointer;
            float: right;
            margin-right: 40px;
            >div {
                width: 52px;
                height: 39px;
                @include bg-image("icon_menu.png");
                &:hover {
                    background-position: 0 -39px;
                }
            }
            .dropdown-menu {
                top: 45px;
                right: 0px;
                left: initial;
                color: #333;
                .input {
                    line-height: 21px;
                    color: #333;
                    padding: 3px 20px;
                    >* {
                        display: inline-block;
                    }
                    input,
                    select {
                        margin-top: -2px;
                        width: 76px;
                        height: 25px;
                        padding: 2px;
                    }
                }
            }
        }
    }
    .portal-content-body {
        color: #ffffff;
        background-color: #fff;
        // background-color: rgba(255, 255, 255, 0.1);
        border: 0;
        border-radius: 20px;
        position: relative;
        margin-bottom: 24px;
        box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15);
        padding: 50px 22px;
        width: 1840px;
        height: 900px;
        &.vip {
            margin: 0;
            padding: 0;
        }
    }
    .progress {
        @include border-radius(8px);
        .progress-bar {
            @include border-radius(8px);
        }
    }
}