@import 'src/app/components/AppShared/scss/global.scss';
.app-portal {
    .header-bar {
        padding-top: 20px;
        position: relative;
        height: 80px;
        .menu {
            float: right;
            margin-right: 200px;
            .dropdown-menu {
                left: -106px;
            }
        }
    }
    .portal-content-body {
        color: #ffffff;
        background-color: #fff;
        // background-color: rgba(255, 255, 255, 0.1);
        border: 0;
        border-radius: 7px;
        position: relative;
        margin-bottom: 24px;
        box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15);
        padding: 50px 22px;
        height: 100%;
        min-height: 500px;
    }
}