<main class="app-portal">

    <div class="header-bar">
        <div class="title">{{current.getName()}}</div>
        <div class="menu" uib-dropdown is-open="isOpen" auto-close="outsideClick">
            <div uib-dropdown-toggle></div>
            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                <li class="menuitem" ng-repeat="nav in portalNavs" ng-class="{'active':nav.isActive}">
                    <a ng-click="changeNav(nav)"><i class="fa fa-fw" ng-class="nav.icon"></i> {{nav.name}}</a>
                </li>

                <!--vip pic-->
                <li class="divider"></li>
                <li class="menuitem">
                    <a href="#"><i class="fa fa-fw fa-check" ng-class="nav.icon"></i> 圖片1</a>
                </li>
                <li class="menuitem">
                    <a href="#"><i class="fa fa-fw" ng-class="nav.icon"></i> 圖片2</a>
                </li>
                <li class="menuitem">
                    <a href="#"><i class="fa fa-fw" ng-class="nav.icon"></i> 圖片3</a>
                </li>
                <!--END vip pic-->

                <li class="divider"></li>
                <li role="menuitem" class="input">
                    <span>轮播:</span>
                    <switchery ng-model="rotation"></switchery>
                </li>
                <li role="menuitem" class="input">
                    <span>位置:</span>
                    <!--<input type="text" class="form-control pull-right" placeholder="位置">-->
                    <select class="form-control pull-right">
                        <option value="0">无</option>
                        <option value="1">打印室</option>
                        <option value="2">公共区域</option>
                    </select>
                </li>
            </ul>
        </div>
        <div class="time">{{time | date:'EEE MMM d H:mm'}}</div>
    </div>

    <div class="al-main">
        <div class="al-content">
            <div ui-view class="container-fluid portal-content-body"></div>
        </div>
    </div>
</main>