<main class="app-portal">

    <div class="header-bar">
        <div class="title">{{current.getName()}}</div>
        <div class="menu" uib-dropdown>
            <div uib-dropdown-toggle></div>
            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                <li class="menuitem" ng-repeat="nav in portalNavs" ng-class="{'active':nav.isActive}">
                    <a ng-click="changeNav(nav)"><i class="fa fa-fw" ng-class="nav.icon"></i> {{nav.name}}</a>
                </li>
            </ul>
        </div>
        <div class="time">{{time | date:'EEE MMM d H:m'}}</div>
    </div>

    <div class="al-main">
        <div class="al-content">
            <div ui-view class="container-fluid portal-content-body"></div>
        </div>
    </div>
</main>