@import 'src/app/components/AppShared/scss/global.scss';
.app-portal {
    .header-bar {
        padding-top: 30px;
        position: relative;
        height: 80px;
        line-height: 39px;
        .title {
            float: left;
            margin-left: 40px;
            font-size: 45px;
        }
        .time {
            float: right;
            margin-right: 109px;
            font-size: 35px;
        }
        .menu {
            cursor: pointer;
            float: right;
            margin-right: 40px;
            > div {
                width: 52px;
                height: 39px;
                @include bg-image("icon_menu.png");
                &:hover {
                    background-position: 0 -39px;
                }
            }
            .dropdown-menu {
                top: 45px;
                right: 0px;
                left: initial;
                .switch {
                    line-height: 21px;
                    color: #333;
                    padding: 3px 20px;
                    >* {
                        display: inline-block;
                    }
                }
            }
        }
    }
    .portal-content-body {
        color: #ffffff;
        background-color: #fff;
        // background-color: rgba(255, 255, 255, 0.1);
        border: 0;
        border-radius: 7px;
        position: relative;
        margin-bottom: 24px;
        box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15);
        padding: 50px 22px;
        width: 1840px;
        height: 900px;
    }
}